<div layout="column" layout-align="center center" flex="100">
    <div layout="row" style="min-width: 40%;background-color: #00897b;">
        <md-input-container md-no-float class="reset-margin-padding" style="margin-right: 12px;">
            <md-select ng-model="size" placeholder="File" md-container-class="drop-down-custom-file">
                <md-option ng-repeat="option in model.fileOptions" layout="row" class="color-white" style="background-color: cadetblue;height: 32px;">
                    <div layout="row">
                        <i class="material-icons">{{option}}</i>
                        <h6 class="reset-margin-padding lh-24 pad-l-12">{{option}}</h6>
                    </div>
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-no-float class="reset-margin-padding">
            <md-select ng-model="size" placeholder="Edit" md-container-class="drop-down-custom-edit">
                <md-option ng-repeat="option in model.fileEditOptions">
                    <div layout="row">
                        <i class="material-icons">{{option}}</i>
                        <h6 class="reset-margin-padding lh-24 pad-l-12">{{option}}</h6>
                    </div>
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-no-float class="reset-margin-padding">
            <md-select ng-model="size" placeholder="Insert" md-container-class="drop-down-custom-insert">
                <md-option ng-repeat="option in model.toolbarOptions">{{option}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-no-float class="reset-margin-padding">
            <md-select ng-model="size" placeholder="View" md-container-class="drop-down-custom-view">
                <md-option ng-repeat="option in model.toolbarOptions">{{option}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container md-no-float class="reset-margin-padding">
            <md-select ng-model="size" placeholder="Format" md-container-class="drop-down-custom-format">
                <md-option ng-repeat="option in model.toolbarOptions">{{option}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center center" style="min-width: 40%;">
        <md-card flex="100" class="reset-margin-padding">
            <!--<md-button ng-click="model.save();">save</md-button>-->
            <textarea class="notes" style="min-height: 294px" placeholder="Text here.." ng-model="model.text" ng-change="model.save()">                
            </textarea>
        </md-card>
    </div>
</div>